<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pdf Sample Generator</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="content">
        <h1>{{title}}</h1>
        <form>
            <input placeholder="Type some text">
            <button>Generate PDF</button>
        </form>
    </div>
</body>
<script src="/js/app.js"></script>
</html>
